/*general styling of the web-app*/

/**{*/
       /*border: 1px solid red;*/
   /*}*/

#page-content-wrapper{
    overflow: hidden;
    position: relative;
    background-color: aquamarine;
    margin-top:-2rem;
    padding: 1em;
    padding-right: 2em;
    min-height: 40em;
}

/*a bootstrap button that does not glow when clicked*/
.no-glow-btn:focus, .no-glow-btn:active, .no-glow-btn:active:focus{
    box-shadow: none;
    outline: none;
}

#page-header{
    padding: 2rem;
}

.alert{
    display: none;
}