/*styling and animation of the side menu*/

#side-menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 1em;
    max-width: 50%;
    z-index: 1000;
    /*border: 4px solid red; !*for debugging*!*/
    /*animates showing and hiding*/
    transition: 0.3s ease;
}

/*#side menu when visible
  animated*/
.revealed-menu{
    transform: translateX(0%);

}

/*#side menu when hidden*/
.hidden-menu{
    transform: translateX(100%);
}

#side-menu-button{
    position:absolute;
    top: 0;
    bottom: 0;
    width:2em;
    left: -2em;
}

#side-menu-button img{
    position: sticky;
    left: -1em;
    top: 50px;
    width: 1em;
    height: 1em;
    transition: 0.5s ease;
}

.unflipped{
    transform: rotate(0deg);
}

.flipped{
    transform: rotate(180deg);
}

#menu-tab-bodies{
    position:relative;
    overflow: auto;
    /*border: 3px solid black; !*for debugging*!*/
    left: 0;
    right: 0;
    height: 80%;
    padding-top: 1em;
}
